<div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
                    <div class="user-profile">
                       <!--  <div class="dropdown user-pro-body">
                          <div><img src="/static/plugins/images/users/varun.jpg" alt="user-img" class="img-circle"></div>
                          <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Steave Gection <span class="caret"></span></a>
                              <ul class="dropdown-menu animated flipInY">
                                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                                <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                                <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="login.html"><i class="fa fa-power-off"></i> Logout</a></li>
                              </ul>
                        </div> -->
                    </div>
                <ul class="nav" id="side-menu">

                    <li> <a href="/dashboard" class="waves-effect"><i class="mdi mdi-home-variant fa-fw"></i> <span class="hide-menu"><b>Dashboard</b></span></a> 
                    </li>

                    <li> <a href="../contacts" class="waves-effect"><i class="mdi mdi-account fa-fw"></i> <span class="hide-menu"><b>Contacts</b></span></a> 
                    </li>

                    <li> <a href="../items" class="waves-effect"><i class="mdi mdi-basket fa-fw"></i> <span class="hide-menu"><b>Items</b><span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="basic-table.html"><i class="fa-fw">B</i><span class="hide-menu">Item Groups</span></a></li>
                            <li><a href="../items"><i class="fa-fw">L</i><span class="hide-menu">Items</span></a></li>
                            <li><a href="data-table.html"><i class="fa-fw">D</i><span class="hide-menu">Item Adjustments</span></a></li>
                        </ul>
                    </li>

                    <li> <a href="../delivery-orders/new" class="waves-effect"><i class="mdi mdi-cart fa-fw"></i> <span class="hide-menu"><b>Delivery Order</b></span></a> 
                    </li>

                    <li> <a href="../sales-orders" class="waves-effect"><i class="mdi mdi-cart fa-fw"></i> <span class="hide-menu"><b>Sales Order</b></span></a> 
                    </li>

                    <li> <a href="widgets.html" class="waves-effect"><i class="mdi mdi-package fa-fw"></i> <span class="hide-menu"><b>Packages</b></span></a> 
                    </li>

                    <li> <a href="widgets.html" class="waves-effect"><i class="mdi mdi-file-document fa-fw"></i> <span class="hide-menu"><b>Invoices</b></span></a> 
                    </li>

                    <li> <a href="widgets.html" class="waves-effect"><i class="mdi mdi-shopping fa-fw"></i> <span class="hide-menu"><b>Purchase Orders</b></span></a> 
                    </li>

                    <li> <a href="widgets.html" class="waves-effect"><i class="mdi mdi-receipt fa-fw"></i> <span class="hide-menu"><b>Bills</b></span></a> 
                    </li>

                </ul>
            </div>
        </div>